.cart-container{
.cart-container {
    position: relative;
    display: inline-block;
}

.cart-icon {
    font-size: 30px; 
}

.cart-badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: rgb(9, 9, 9);
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
    font-weight: bold;
}
}

.cart-page{
   display: flex;
   flex-direction: column;
}

.btn-option{
    border-radius: 0px;
}

.cart-page h3{
    background-color: rgb(24, 24, 24);
    color: white;
    padding: 10px;
}

.cart-page h1{
    padding: 50px 0 5px; 
}

.cart-page p{
    padding-bottom: 40px;
}